<%- include('../partials/header') %>

<div class="container">
    <% for (let cluck of clucks) {
      let dateTime = cluck.created_at.getTime()
      %>
        <div class="card w-100">
          <div class="card-body">
          <a class="card-title" href="/clucks/<%= cluck.id %>"><%= cluck.username %> • <%= cluck.created_at %> <%dateTime%></a>
          <p class="card-text"><%= cluck.content %></p>
          <p class="card-text"><%= cluck.image_url %></p>
        </div>
      </div>
      <hr class="card-text">
    <% } %>
</div>

<%- include('../partials/footer') %>
